$colorMain: #a58efa
$colorSec: #9679ff
$white: #ffffff
$black: #000000
$grey: #cecece
$greyLight: #e6e6e6
$greyBlack: #9c9c9c
$greyDark: #2c2c2c


@keyframes colorfull
  0%
    fill: #ff1100
  20%
    fill: #ff9900
  40%
    fill: #0099ff
  60%
    fill: #00b118
  80%
    fill: #ae00ff
  100%
    fill: #ff00aa
